# Log files
*.log

# IDE settings
.idea
.vscode
.venv/

# Caches
.ruff_cache
.pytest_cache
__pycache__
*.pyc
.coverage

# Doc files
/docs/run_sphinx.bat
/docs/update_index_v2.py
/docs/elec_debug.txt
/docs/process_md_files.py
/docs/build

/src/models/electricity/process_md_files.py

# Outputs
output_root.txt
**electric_output/
output/*
!output/*.bat
!output/*.py
!output/tech_colors.csv
!output/*.md
!output/test
output/test/*
tests/model_test/mode_test_log
tests/test_logs/cw_temporal.csv
tests/test_logs/electricity/prices/elec_price.csv
*.db
*.h5
*.zip